{% for name in searched_names %}
   <div>
      <form method="post" action="{% url 'add_friend' %}">
         {% csrf_token %}
         <input type="hidden" name="friend_id" value="{{ name.user.id }}">
         {% if name.profile_image %}
            <div style="display: inline-block; vertical-align: top; margin-right: 10px;">
               <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                  <img src="{{ name.profile_image.url }}" style="width: 100%; height: 100%;">
               </div>
            </div>
            <div style="display: inline-block; vertical-align: top;">
               <input type="hidden" name="potential_friend" value="{{ name.user.username }}">
               <div>{{ name.user.username }}</div>
               <button type="submit">Add Friend</button>
            </div>
         {% else %}
            <div style="display: inline-block; vertical-align: top; margin-right: 10px;">
               <div style="width: 50px; height: 50px; border-radius: 50%; background-color: lightgray; text-align: center; line-height: 50px;">
                  No Image
               </div>
            </div>
            <div style="display: inline-block; vertical-align: top;">
               <input type="hidden" name="potential_friend" value="{{ name.user.username }}">
               <div name="potential_friend">{{ name.user.username }}</div>
               <button type="submit">Add Friend</button>
            </div>
         {% endif %}
      </form>
   </div>
{% endfor %}